.level4,.level3{
    padding-top: 30px;
    background-image: url(images/home2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.level4 center nav a{
    text-decoration: none;
    color: #77a3eb;
}
.temp{
    padding-left: 130px;
}
.level3 nav a{
    padding-top: 30px;
    text-decoration: none;
    color: #77a3eb;
}
.line{
    margin-top: 30px;
    border: 1px solid brown;
}

